<heading title="Images" (toggleChange)="showAccessible = $event"></heading>
<div class="container">
  <p>
    Images should have alt tag. People using screen readers, for example, rely on alt text to understand visual content
    that they may not be able to see. Informative images should contain a description in the alt tag.
    If the image is purely decorative you should still enter an alt tag but you can leave a blank description.
  </p>
  <img *ngIf="!showAccessible" src="assets/kakashi.jpg"/>
  <img *ngIf="showAccessible" src="assets/kakashi.jpg" alt="Figurine of Kakashi the copy Ninja from Naruto"/>
</div>
